      <!-- Footer -->
      <div class="footer">
        <div class="connect">
          <h2>Thanks for visiting our site!</h2>
        <p>Stay connected and enjoy our amazing contents</p>
        </div>
        
        <div class="newsl">
          <p>Subscribe to our Newsletter</p>
          <div class="box">
            <input type="text" size="55" placeholder="JohnDoe@gmail.com">
            <a href=""><img src="image/email.png" alt="" width="35px"></a>
          </div>
        </div>
        
        <div class="seperate"></div>

        <div class="socials">
          <p>Follow us on social media</p>
          <div>
            <img src="image/instagram.png" alt="">
            <a href="instagram.com">on Instagram</a>
          </div>

          <div>
            <img src="image/twitter.png" alt="">
            <a href="twitter.com">on Twitter</a>
          </div>

          <div>
            <img src="image/facebook.png" alt="">
            <a href="facebook.com">on Facebook</a>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>