
<%- include('partials/header') -%>

<header class="display">
    <h2>Order-a-Meal</h2>
    <div class="btn">Order Now</div>
</header>

  <!-- What we serve -->
  <h2 class="header">Featured Products</h2>
  <section class="menu">
    <div class="combo1">
      <p class="name">Burger Combo</p>
      <img src="/images/meal1.png" alt="" class="img1" />
      <p class="about">
        A delicious combo meal. The perfect launch for a stressful day,
        pocket friendly good for your health.
      </p>
    </div>

    <div class="combo1">
      <p class="name">Smoothie</p>
      <img src="/images/smoothie.png" alt="" class="img2" />
      <p class="about">
        A delicious combo meal. The perfect launch for a stressful day,
        pocket friendly good for your health.
      </p>
    </div>

    <div class="combo1">
      <p class="name">Pesto Pasta</p>
      <img src="/images/pesto.png" alt="" class="img3" />
      <p class="about">
        A delicious combo meal. The perfect launch for a stressful day,
        pocket friendly good for your health.
      </p>
    </div>

    <div class="combo1">
      <p class="name">Pizza</p>
      <img src="/images/pizza.png" alt="" class="img4" />
      <p class="about">
        A delicious combo meal. The perfect launch for a stressful day,
        pocket friendly good for your health.
      </p>
    </div>

    <p class="more">
      <a href="">See More <span>></span></a>
    </p>
  </section>

  <!-- Parallax - 1 -->
  <div class="parallax-1">
    <p>Special Snacks and Meals</p>
  </div>

  <!-- How it works -->
  <h2 class="hiw">How it works</h2>
  <section>
    <div class="grid-container">
      <div class="grid-item">
        <img src="/images/shop.svg" alt="" />
        <h3>Select a Vendor</h3>
        <p>Pick a vendor from our list of Restaurants.</p>
      </div>

      <div class="grid-item">
        <img src="/images/cart.svg" alt="" />
        <h3>Add to Cart</h3>
        <p>
          Go through the variety of dishes and add your favs to your cart
        </p>
      </div>

      <div class="grid-item">
        <img src="/images/bill.svg" alt="" />
        <h3>Make Payment</h3>
        <p>
          Complete your order by making payment through our payment platform
        </p>
      </div>

      <div class="grid-item">
        <img src="/images/deliver.svg" alt="" />
        <h3>We Deliver</h3>
        <p>
          Once you complete your order we'd deliver in less than 20 mins.
        </p>
      </div>
    </div>
  </section>

  <!-- Parallax - 2 -->
  <div class="parallax-2">
    <p>Delicious Desserts!</p>
  </div>



  <!-- Reviews -->
  <section>
    <div class="container mt-5"></div>
      <h2 class="reviews">Customers Review</h2>
      
      <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active carousel-img" data-bs-interval="10000">
            <img src="/images/avatar.png" class="d-block rounded-circle mx-auto" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item carousel-img" data-bs-interval="2000">
            <img src="/images/avatar.png" class="d-block rounded-circle" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item carousel-img">
            <img src="/images/man.png" class="d-block rounded-circle" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </section>

  <hr>

  <!-- Partner -->
  <section>
    <h2 class="header4 mt-5">Our Partners</h2>

    <div class="partners mt-4">
      <div class="part1"><img src="/images/part1.png" alt=""></div>
      <div class="part2"><img src="/images/part2.png" alt=""></div>
      <div class="part3"><img src="/images/part3.png" alt=""></div>
      <div class="part1"><img src="/images/part1.png" alt=""></div>
      <div class="part2"><img src="/images/part2.png" alt=""></div>
      <div class="part3"><img src="/images/part3.png" alt=""></div>
    </div>
  </section>

  </div>

<%- include('partials/footer') -%>