
<%- include('partials/header') -%>

<header class="display">
    <h2>Order-a-Meal</h2>
    <div class="btn">Order Now</div>
</header>

  <!-- What we serve -->
  <h2 class="header">Featured Products</h2>
  <section class="menu">
    <div class="combo1">
      <p class="name">Burger Combo</p>
      <img src="/images/meal1.png" alt="" class="img1" />
      <p class="about">
        A delicious combo meal. The perfect launch for a stressful day,
        pocket friendly good for your health.
      </p>
    </div>

    <div class="combo1">
      <p class="name">Smoothie</p>
      <img src="/images/smoothie.png" alt="" class="img2" />
      <p class="about">
        A delicious combo meal. The perfect launch for a stressful day,
        pocket friendly good for your health.
      </p>
    </div>

    <div class="combo1">
      <p class="name">Pesto Pasta</p>
      <img src="/images/pesto.png" alt="" class="img3" />
      <p class="about">
        A delicious combo meal. The perfect launch for a stressful day,
        pocket friendly good for your health.
      </p>
    </div>

    <div class="combo1">
      <p class="name">Pizza</p>
      <img src="/images/pizza.png" alt="" class="img4" />
      <p class="about">
        A delicious combo meal. The perfect launch for a stressful day,
        pocket friendly good for your health.
      </p>
    </div>

    <p class="more">
      <a href="">See More <span>></span></a>
    </p>
  </section>

  <!-- Parallax - 1 -->
  <div class="parallax-1">
    <p>Special Snacks and Meals</p>
  </div>

  <!-- How it works -->
  <h2 class="hiw">How it works</h2>
  <section>
    <div class="grid-container">
      <div class="grid-item">
        <img src="/images/shop.svg" alt="" />
        <h3>Select a Vendor</h3>
        <p>Pick a vendor from our list of Restaurants.</p>
      </div>

      <div class="grid-item">
        <img src="/images/cart.svg" alt="" />
        <h3>Add to Cart</h3>
        <p>
          Go through the variety of dishes and add your favs to your cart
        </p>
      </div>

      <div class="grid-item">
        <img src="/images/bill.svg" alt="" />
        <h3>Make Payment</h3>
        <p>
          Complete your order by making payment through our payment platform
        </p>
      </div>

      <div class="grid-item">
        <img src="/images/deliver.svg" alt="" />
        <h3>We Deliver</h3>
        <p>
          Once you complete your order we'd deliver in less than 20 mins.
        </p>
      </div>
    </div>
  </section>

  <!-- Parallax - 2 -->
  <div class="parallax-2">
    <p>Delicious Desserts!</p>
  </div>



  <!-- Reviews -->
  <section>
    <h2 class="reviews">Customers Review</h2>
    <!-- Slide show container -->
    <div id="slideshow">

      <!-- In here we define each slide and write the contents -->
      <div class="slide-wrapper">

        <div class="slide">
          <img src="/images/avatar.png" alt="">
          <h3 class="name">Joe Emoji</h3>
          <p class="write">They'd got the best range of dishes, navigating the site is seemless and OMG! the taste the Double Burger Meal is heavenly!</p>
          <p class="rate">⭐️⭐️⭐️⭐️⭐️⭐️</p>
        </div>

        <div class="slide">
          <img src="/images/man.png" alt="">
          <h3 class="name">Old-Man Pete</h3>
          <p class="write">They'd got the best range of dishes, navigating the site is seemless and OMG! the taste the Double Burger Meal is heavenly!</p>
          <p class="rate">⭐️⭐️⭐️⭐️⭐️⭐️</p>
        </div>

        <div class="slide">
          <img src="/images/nar.png" alt="">
          <h3 class="name">Naruto Shushima</h3>
          <p class="write">They'd got the best range of dishes, navigating the site is seemless and OMG! the taste the Double Burger Meal is heavenly!</p>
          <p class="rate">⭐️⭐️⭐️⭐️⭐️⭐️</p>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

      </div>

      <!-- The dots/circles -->
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>

    </div>
  </section>

  <hr>

  <section>
    <h2 class="header4">Our Partners</h2>

    <div class="partners">
      <div class="part1"><img src="/images/part1.png" alt=""></div>
      <div class="part2"><img src="/images/part2.png" alt=""></div>
      <div class="part3"><img src="/images/part3.png" alt=""></div>
      <div class="part1"><img src="/images/part1.png" alt=""></div>
      <div class="part2"><img src="/images/part2.png" alt=""></div>
      <div class="part3"><img src="/images/part3.png" alt=""></div>
    </div>
  </section>

  </div>

<%- include('partials/footer') -%>